# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
env/


/config/settings.py
/config/.settings.py.swp
config/settings.py
config/.settings.py.swp
config/settings.pyc

# IDE
.idea/
.vscode/

# Django / Local
db.sqlite3
media/

# OS
.DS_Store
Thumbs.db

# Env files
.env
